<div class="tab-pane active" id="tabs-2">
    <div class="schedule-table-content">
        <h2>12/19 社群技術議程</h2>
        <h4>臺灣大學社會科學院</h4>
        <br />
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <strong>和碩講堂</strong>
                        <span>1 樓</span>
                    </th>
                    <th>
                        <strong>102 教室</strong>
                        <span>1 樓</span>
                    </th>
                    <th>
                        <strong>201 教室</strong>
                        <span>2 樓</span>
                    </th>
                    <th>
                        <strong>202 教室</strong>
                        <span>2 樓</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="break event-time">09:00-09:30</td>
                    <td class="break hover-bg" colspan="4" rowspan="1">
                        <h5>報到</h5>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">09:30-09:50</td>
                    <td class="hover-bg" colspan="2" rowspan="1">
                        <h5>Opening & .NET 社群交流答客問 <sup><small style="color:gray;">*</small></sup></h5>
                        <p><span>By</span> STUDY4 & Julia Liuson, Microsoft</p>
                    </td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                </tr>
                <tr>
                    <td class="event-time">09:50 - 10:40</td>
                    <td class="break hover-bg" colspan="2" rowspan="1">
                        <h5>Keynote</h5>
                        <p><span>By</span> STUDY4 小夥伴</p>
                    </td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                </tr>
                <tr>
                    <td class="event-time">10:50 - 11:40</td>
                    <td class="break hover-bg">
                        <a href="./Speaker#RuddyLee">
                            <h5>DevOps 教戰手冊：三步工作法</h5>
                            <p><span>By</span> Ruddy Lee</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#OuchLiu">
                            <h5>C# 的過去 C# 的現在 - C# 9.0</h5>
                            <p><span>By</span> Ouch Liu</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#Priest">
                            <h5>ASP.NET Core 5.0 新功能演繹</h5>
                            <p><span>By</span> 奚江華</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#Ethan">
                            <h5>將 SQL 放到邊緣運算 - 使用 Azure SQL Edge 與 Azure Stack Edge</h5>
                            <p><span>By</span> Ethan</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">11:40 - 13:10</td>
                    <td class="break hover-bg" colspan="4" rowspan="1">
                        <p>
                            中午用餐時間
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">13:10 - 14:00</td>
                    <td class="break hover-bg">
                        <a href="./Speaker#Bill Chung">
                            <h5>C# Pattern Matching 演進史</h5>
                            <p><span>By</span> Bill Chung</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#Kuro">
                            <h5>以輕前端視角進入 Vue 3.0 的世界</h5>
                            <p><span>By</span> Kuro</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#MaizieKu">
                            <h5>如何運用 Azure Databricks 在雲端打造 Big Data Platform </h5>
                            <p><span>By</span> Maizie Ku</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#OuZhixin">
                            <h5>Azure 認知服務之電腦視覺與臉部辨識服務</h5>
                            <p><span>By</span> 歐志信 & 蔡文龍</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">14:10 - 15:00</td>
                    <td class="break hover-bg">
                        <a href="./Speaker#AndrewWu">
                            <h5>非同步系統的服務水準保證；淺談非同步系統的 SLO 設計</h5>
                            <p><span>By</span> Andrew Wu</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#Amos">
                            <h5>我來賣書了！關於 CSS 選取器二三事</h5>
                            <p><span>By</span> AMOS</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#KevinYang">
                            <h5>無密碼時代終於要來了嗎</h5>
                            <p><span>By</span> Kevin Yang</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#JohnChang">
                            <h5>利用 .NET Core 開發跨平台的智慧物聯網解決方案</h5>
                            <p><span>By</span> 張書源</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">15:00 - 15:30</td>
                    <td class="break hover-bg" colspan="4" rowspan="1">
                        <p>
                            交流 & 下午茶
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">15:30 - 16:20</td>
                    <td class="break hover-bg">
                        <a href="./Speaker#EdwardKuo">
                            <h5>Azure DevOps Service 應用架構與秘辛</h5>
                            <p><span>By</span> Edward Kuo</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#StevenTsai">
                            <h5>微型任務編排器 - 以 Process Pool 為例</h5>
                            <p><span>By</span> Steven Tsai</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#Hemmer">
                            <h5>Azure 上打造日資料量一百 TB 的資料分析系統</h5>
                            <p><span>By</span> Hemmer</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#KOKO">
                            <h5>ML.NET 在遷移式學習的應用與挑戰</h5>
                            <p><span>By</span> KO KO</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">16:20 - 17:10</td>
                    <td class="break hover-bg">
                        <a href="./Speaker#XuZhixue">
                            <h5>SQL Server 效能和你想的不一樣</h5>
                            <p><span>By</span> 許致學</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#FionYu">
                            <h5>刻意練習：如何鍛鍊你的抽象化能力</h5>
                            <p><span>By</span> Andrew Wu & Fion Yu</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#Mike">
                            <h5>gRPC - 打造輕量、高效能的後端服務</h5>
                            <p><span>By</span> 黃升煌 Mike</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#BaoChengyou">
                            <h5>HoloLens 2 的 MR (Mixed Reality) 開發入門</h5>
                            <p><span>By</span> 鮑承佑</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="hover-bg" colspan="5" rowspan="1">
                        <p>
                            精彩議程。明天待續
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <p>
        <small class="footnote">* 因應疫期，.NET 社群交流答客問將採預錄方式進行，您可以到<a href="https://s.study4.tw/fb-group">STUDY4 FB 社團</a>新增您想要<a href="https://www.facebook.com/groups/study4tw/permalink/3381301521990377/">提出的問題</a>，或者票選你最想知道的事情</small>
    </p>
    <br />
    <br />
    <br />
</div>

@code {

}
