<div class="tab-pane active" id="tabs-1">
    <div class="schedule-table-content">
        <h2>12/18 Enterprise Day (Hands-on-Lab)</h2>
        <h4>臺北文創大樓</h4>
        <br />
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <strong>A 廳</strong>
                        <span>6 樓</span>
                    </th>
                    <th>
                        <strong>B 廳</strong>
                        <span>6 樓</span>
                    </th>
                    <th>
                        <strong>C 廳</strong>
                        <span>6 樓</span>
                    </th>
                    <th>
                        <strong>D 廳</strong>
                        <span>6 樓</span>
                    </th>
                    <th>
                        <strong>E 廳</strong>
                        <span>6 樓</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="break event-time">08:30-09:30</td>
                    <td class="break hover-bg" colspan="5" rowspan="1">
                        <h5>報到</h5>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">09:30-10:00</td>
                    <td class="hover-bg" colspan="5" rowspan="1">
                        <h5>Opening & .NET 社群交流答客問 <sup><small style="color:gray;">*</small></sup></h5>
                        <p><span>By</span> 潘正磊, 微軟全球資深副總裁</p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">10:00-10:30</td>
                    <td class="hover-bg" colspan="5" rowspan="1">
                        <h5>擁抱新一代開發技術，加速開放創新</h5>
                        <p><span>By</span> 胡德民, 台灣微軟專家技術部總經理暨微軟新創加速器執行長</p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">10:30-11:00</td>
                    <td class="hover-bg" colspan="5" rowspan="1">
                        <h5>.NET 技術發展藍圖</h5>
                        <p><span>By</span> 李匡正, 台灣微軟雲端解決方案架構師</p>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">11:00-11:20</td>
                    <td class="break hover-bg" colspan="5" rowspan="1">
                        <p>交流 & 茶歇</p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">11:20-11:50</td>
                    <td class="hover-bg" colspan="5" rowspan="1">
                        <h5>企業 .NET 的開發及創新之旅</h5>
                        <p><span>By</span> Edward Kuo, Kingston IT Manager</p>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">11:50-13:00</td>
                    <td class="break hover-bg" colspan="5" rowspan="1">
                        <p>交流 & 中午用餐</p>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time"></td>
                    <td class="break hover-bg">
                        <h5>.NET Lab</h5>
                    </td>
                    <td class="break hover-bg">
                        <h5>AI Lab</h5>
                    </td>
                    <td class="break hover-bg">
                        <h5>Azure Lab</h5>
                    </td>
                    <td class="break hover-bg">
                        <h5>DevOps Lab</h5>
                    </td>
                    <td class="break hover-bg">
                        <h5>OSS Lab</h5>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">13:00-15:00</td>
                    <td class="hover-bg">
                        <h5>使用 Blazor WebAssembly 和 Visual Studio Code 來建置 Web 應用程式</h5>
                        <p><span>By</span> 謝政廷、張羽承<br />台灣微軟企業支援服務經理</p>
                    </td>
                    <td class="hover-bg">
                        <h5>以機器學習與 AI 推動新世代數位轉型</h5>
                        <p><span>By</span> 詹欣諭<br />台灣微軟 Azure Techinal Trainer</p>
                    </td>
                    <td class="hover-bg">
                        <h5>現代化雲端應用程式</h5>
                        <p><span>By</span> 黃承皓<br />台灣微軟雲端解決方案架構師</p>
                    </td>
                    <td class="hover-bg">
                        <h5>Continuous delivery in Azure DevOps & GitHub</h5>
                        <p><span>By</span> 黃慧兒<br />台灣微軟技術架構師</p>
                    </td>
                    <td class="hover-bg">
                        <h5>Microservices and Azure Red Hat OpenShift with .NET</h5>
                        <p><span>By</span> 王鈞平<br />Red Hat Taiwan 資深解決方案架構師<br /><span>By</span> 吳鴻鑫<br />台灣微軟雲端解決方案架構師</p>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">15:00-15:30</td>
                    <td class="break hover-bg" colspan="5" rowspan="1">
                        <p>交流 & 茶歇</p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">15:30-17:30</td>
                    <td class="hover-bg">
                        <h5>使用 Blazor WebAssembly 和 Visual Studio Code 來建置 Web 應用程式</h5>
                        <p><span>By</span> 謝政廷、張羽承<br />台灣微軟企業支援服務經理</p>
                    </td>
                    <td class="hover-bg">
                        <h5>以機器學習與 AI 推動新世代數位轉型</h5>
                        <p><span>By</span> 詹欣諭<br />台灣微軟 Azure Techinal Trainer</p>
                    </td>
                    <td class="hover-bg">
                        <h5>現代化雲端應用程式</h5>
                        <p><span>By</span> 黃承皓<br />台灣微軟雲端解決方案架構師</p>
                    </td>
                    <td class="hover-bg">
                        <h5>Continuous delivery in Azure DevOps & GitHub</h5>
                        <p><span>By</span> 黃慧兒<br />台灣微軟技術架構師</p>
                    </td>
                    <td class="hover-bg">
                        <h5>Microservices and Azure Red Hat OpenShift with .NET</h5>
                        <p><span>By</span> 王鈞平<br />Red Hat Taiwan 資深解決方案架構師<br /><span>By</span> 吳鴻鑫<br />台灣微軟雲端解決方案架構師</p>
                    </td>
                </tr>
                <tr>
                    <td class="hover-bg" colspan="6" rowspan="1">
                        <p>精彩議程。明天待續</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <p>
        <small class="footnote">* 因應疫期，.NET 社群交流答客問將採預錄方式進行，您可以到<a href="https://s.study4.tw/fb-group">STUDY4 FB 社團</a>新增您想要<a href="https://www.facebook.com/groups/study4tw/permalink/3381301521990377/">提出的問題</a>，或者票選你最想知道的事情</small>
    </p>
    <br />
    <br />
    <br />
</div>

@code {

}
