<div class="tab-pane active" id="tabs-2">
    <div class="schedule-table-content">
        <h2>12/20 社群技術議程</h2>
        <h4>臺灣大學社會科學院</h4>
        <br />
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <strong>和碩講堂</strong>
                        <span>1 樓</span>
                    </th>
                    <th>
                        <strong>102 教室</strong>
                        <span>1 樓</span>
                    </th>
                    <th>
                        <strong>201 教室</strong>
                        <span>2 樓</span>
                    </th>
                    <th>
                        <strong>202 教室</strong>
                        <span>2 樓</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="break event-time">09:00-09:30</td>
                    <td class="break hover-bg" colspan="4" rowspan="1">
                        <h5>報到</h5>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">09:30-09:50</td>
                    <td class="hover-bg">
                        <h5>Opening</h5>
                        <p><span>By</span> Build School</p>
                    </td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                </tr>
                <tr>
                    <td class="event-time">09:50 - 10:40</td>
                    <td class="break hover-bg">
                        <a href="./Speaker#WillHuang">
                            <h5> 使用 .NET 5 實現美指期貨的量化交易策略</h5>
                            <p><span>By</span> Will 保哥</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#JamesFu">
                            <h5>開發人員所需要知道的十個資料庫開發注意事項</h5>
                            <p><span>By</span> James Fu</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#PoyChang">
                            <h5>Universal Data / Service Platform</h5>
                            <p><span>By</span> Poy Chang</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#SkyChang">
                            <h5>從 0 開始的 AKS 生活 - 後篇 無限 Azure 篇</h5>
                            <p><span>By</span> Sky Chang</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">10:50 - 11:40</td>
                    <td class="break hover-bg">
                        <a href="./Speaker#YinSangzhi">
                            <h5>打造自己的繁體中文 LUIS 服務</h5>
                            <p><span>By</span> 尹相志</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#Inca">
                            <h5>AKS 好朋友</h5>
                            <p><span>By</span> Inca</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#BruceChen">
                            <h5>Windows Container 落地的美麗與哀愁</h5>
                            <p><span>By</span> Bruce Chen</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#ChrisLiu">
                            <h5>透過 GitHub Actions 輕鬆的將你的 .NET Core App 部署至 Azure</h5>
                            <p><span>By</span> Chris Liu</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">11:40 - 13:10</td>
                    <td class="break hover-bg" colspan="4" rowspan="1">
                        <p>
                            中午用餐時間
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">13:10 - 14:00</td>
                    <td class="break hover-bg">
                        <a href="./Speaker#ZhongchengHuang">
                            <h5>蛻變 - Entity Framework Core 5.0</h5>
                            <p><span>By</span> 黃忠成</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#Owen">
                            <h5>SQL Server 2019 Big data cluster 深入淺出的一體化資料處理平台</h5>
                            <p><span>By</span> Owen</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#KyleShen">
                            <h5>用.NET Core 來開發 .NET Conf 2020 Line活動機器人</h5>
                            <p><span>By</span> Kyle Shen</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#CarlYang">
                            <h5>Azure IoT Hub 在 IND 4.0 的應用策略</h5>
                            <p><span>By</span> Carl Yang</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">14:10 - 15:00</td>
                    <td class="break hover-bg">
                        <a href="./Speaker#HuBaijing">
                            <h5>大型異質型資料庫移轉經驗分享</h5>
                            <p><span>By</span> 胡百敬</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#BenLu"></a>
                        <h5>.NET Core 在 noSQL (MongoDB + Redis) 上的開發經驗分享</h5>
                        <p><span>By</span> Ben Lu</p>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#AlanTsai">
                            <h5>不會 Javascript 沒關係，用 Blazor 來解決前端需求 - 成為 Full Stack .NET 開發者吧</h5>
                            <p><span>By</span> Alan Tsai</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#ThomasShih">
                            <h5>.NET Core Embedded Dev. + Azure IoT Solution</h5>
                            <p><span>By</span> Thomas Shih</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="break event-time">15:00 - 15:30</td>
                    <td class="break hover-bg" colspan="4" rowspan="1">
                        <p>
                            交流 & 下午茶
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">15:30 - 16:20</td>
                    <td class="break hover-bg">
                        <a href="./Speaker#DavidTung">
                            <h5>第一次開發框架就上手</h5>
                            <p><span>By</span> David Tung</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#RobersonLiou">
                            <h5>The Journey of C# Source Generator</h5>
                            <p><span>By</span> Roberson Liou</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#GelisWu">
                            <h5>Blazor Component 開發實戰</h5>
                            <p><span>By</span> Gelis Wu</p>
                        </a>
                    </td>
                    <td class="break hover-bg">
                        <a href="./Speaker#CAVEDU"></a>
                        <h5>Azure 結合邊緣裝置應用於高中教學現場</h5>
                        <p><span>By</span> 曾吉弘</p>
                    </td>
                </tr>
                <tr>
                    <td class="event-time">16:20 - 17:10</td>
                    <td class="break hover-bg">
                        <h5>Lighting Talk</h5>
                        <p><span>By</span> STUDY4</p>
                    </td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                    <td class="break hover-bg" style="background-color:lightgray;"></td>
                </tr>
                <tr>
                    <td class="hover-bg" colspan="5" rowspan="1">
                        <p>
                            感謝參與 .NET Conf 2020
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <br />
    <br />
</div>

@code {

}
