<!-- About Section Begin -->
<section class="home-about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="./img/dotnet-bot.svg" width="500" alt="">
                @*<div class="ha-pic">
                    </div>*@
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    @*<h2>什麼是 .NET Conf？</h2>
                    <p>
                        .NET Conf 是年度 .NET 社群的重要活動，微軟 .NET 團隊以及 .NET Foundation 將於 11 月份舉辦 .NET Conf 線上活動，連續三天現場直播 .NET 相關議程，介紹最新技術與其應用，.NET 5.0 也即將在 .NET Conf 發布！為了讓台灣開發人員也能彼此交流 .NET 技術與心得，台灣 Microsoft 與台中最大微軟技術社群 STUDY4 以及 Build School、 將舉辦為期三天的 .NET Conf Local Event，邀請台灣開發人員共襄盛舉。
                    </p>*@
                    <h2>這次 .NET Conf 活動有什麼？</h2>
                    <p>
                        本次活動首日為今年首度召開的 Enterprise Day，其主題演講將分享最新企業應用趨勢脈動，除此之外更將為學員帶來最符合企業需求的高技術涵量實作課程。接下來兩天的社群日共安排 4 軌議程「.NET x Azure x 智能 x Open Source」，邀請到國內多位重量級大師及專業講師，超過 30 位講師將來分享第一手技術新知和豐富產業經驗。
                    </p>
                    <p>第二、三日的社群技術議程中，會與台灣的開發人員一起探討 .NET 最新技術與其相關應用，您將可以學習到最新的 .NET Core、ASP.NET Core、SignalR、Blazor、C#...等開發技術，除此之外，兩天的議程，還安排了雲端與智能開發的相關技術議程，這同時也是現在開發人員最急需掌握的技能。這兩天無論您是初學者、轉換跑道者、還是資深的技術工程/資料分析師，這裡皆有適合您的議程，讓我們共同學習、提出問題與講師交流，藉此精進您的開發技能。</p>
                    <p>身為開發者的您，千萬別錯過 12/18-20 這場年度最大「.NET x Azure x 智能 x Open Source」開發盛會！</p>
                    @*<h2>.NET 可以做甚麼？</h2>
                    <p>您可以使用 .NET 開發技術來建置各種平台和裝置應用，舉凡 Web、Mobile、Desktop、Games、Service 和 Libraries，.NET 都是實現您創意的最佳平台！</p>
                    <ul>
                        <li><span class="icon_check"></span> Desktop</li>
                        <li><span class="icon_check"></span> Web</li>
                        <li><span class="icon_check"></span> Cloud</li>
                        <li><span class="icon_check"></span> Mobile</li>
                        <li><span class="icon_check"></span> Gaming</li>
                        <li><span class="icon_check"></span> IoT</li>
                        <li><span class="icon_check"></span> AI</li>
                    </ul>*@
                    <a href="https://docs.microsoft.com/zh-tw/dotnet/" class="ha-btn">探索 .NET 開發潛能</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

@code {

}
