@page "/Organizer"
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>主辦單位</h2>
                    <h4>Organizer</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Sponsor Section Begin -->
<section class="home-about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/organizer/microsoft-logo.svg" width="500" height="300" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>Microsoft 台灣微軟</h2>
                    <p>
                        微軟是全球科技產業的領航者，提供全球領先的軟體、服務、設備和解決方案，自 1975 年成立以來，一直致力於幫助個人和企業用戶，全面發揮科技潛能，實現夢想。
                    </p><p>
                        四十多年來，微軟一直專注於技術創新與變革，透過卓越的軟體、設備和服務，能夠幫助用戶提昇生活和工作生產力，讓數億的使用者真正受益於科技。微軟公司總部位於美國華盛頓州 Redmond，在全世界超過 190 個國家和地區設有分公司或是分支機構，擁有超過 125,000 名員工。
                    </p><p>
                        微軟執行長 Satya Nadella 在上任後提出了新願景：「在這個行動優先、雲端至上的世界裡，微軟的核心競爭力，就是成為一個提供生產力與平台的公司，幫助在這個地球上的每一個人到每一個組織，都能貢獻更多、成就更大。」
                    </p><p>
                        台灣微軟成立於 1989 年，身為政府、學校與企業最值得信賴的夥伴，始終致力於幫助台灣提升創新力、競爭力以及促進經濟繁榮，共同來亮點台灣！
                    </p>
                    <p>
                        <a href="https://www.microsoft.com/zh-tw/" target="_blank" class="ha-btn">https://www.microsoft.com/zh-tw/</a>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/organizer/study4-logo.svg" width="500" height="300" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>STUDY4</h2>
                    <p>
                        STUDY4 是成立超過 9 年的技術社群，有很喜歡搞 DB 的 DBA、喜歡寫前端的前端工程師、愛開發行動裝置的開發人員，無論是甚麼樣的技術，我們都喜歡一起來討論、研究。
                    </p>
                    <p>
                        <a href="https://study4.tw/" target="_blank" class="ha-btn">https://study4.tw/</a>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="ha-pic">
                    <img src="./img/organizer/build-school-logo.png" width="500" height="300" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ha-text">
                    <h2>Build School</h2>
                    <p>
                        Build School 是一所實體的資訊教育學校，協助幫助想搭上軟體及互聯網經濟的學員們，打造更有競爭力的職涯；透過身經百戰的實務講師、各大企業的資深軟體工程師或 CTO，帶領學員實作真正能運作的產品，解決真實世界的問題，在職場上成為一位專業的軟體工程師！
                    </p>
                    <p>
                        <a href="https://www.build-school.com/" target="_blank" class="ha-btn">https://www.build-school.com/</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sponsor Section End -->
@code {

}
